* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFC1CC;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero */
.hero {
  background: url(' https://i.pinimg.com/736x/67/d1/72/67d172cfdd2b1e7c5762e5a8101d84a0.jpg') center/cover;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

/* Sobre */
.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

.sobre .texto {
  flex: 1;
}

.sobre h2 {
  color: #FFC1CC;
  margin-bottom: 10px;
}

.sobre p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.sobre .imagem img {
  width: 400px;
  border-radius: 10px;
}

/* Missão */
.missao {
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}

.missao h2 {
  color: #FFC1CC;;
  margin-bottom: 10px;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #FFC1CC;;
  color: white;
}











